# Ignore virtual environment
rl_cartpole/
rl_cartpole/*

# If your venv is inside the project:
venv/
venv/*

# Python cache files
__pycache__/
*.pyc

# Logs and temporary files
*.log

# Model files (optional)
*.zip

